#root > div > div > div:nth-child(2) > div > div > div > div > div > div:nth-child(2) {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#root > div > div > div:nth-child(1) > div > div > div > div > div > div:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}


